body{
    margin: 0;
    padding: 0;
    font-size: 15.5px;
    background-color: rgb(245, 235, 242);
}
.content{
    position: fixed;
    padding: 0;
    margin: 9% 30% 9% 30%;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, (minmax(100px, 1fr)));
    display: flex; 
    border-radius: 10px; 
}
.text{
    flex-wrap: wrap;
    padding: 1em;
    margin-inline-start: 7px; 
    margin-inline-end: 7px; 
}
.img{
    background-image: url(image/rose.jpg);
    background-repeat: no-repeat;    
    background-size: cover;
    float: left; 
    height: auto;
    width: 160%;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}
.dolar1{
    float: left;
    margin: 0;
    padding: 0;
    color: rgb(35, 89, 48);
}
.dolar{ 
    display: flex;
}
 .dolar2{
    
    margin: 0;
    padding: 0.7em;
    text-decoration: line-through;
}
.logo >p{
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: rgb(35, 89, 48);
    border-radius: 10px;
    font-size: 18px;
}
.logo img{
    display: inline-flex;
    padding-right: 10px;
   
    
}
.text > p , h5{
    color: grey;
}

/* <===================================MEDIA QUERRY===================================> */

@media only screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    .content{
        padding: auto;
        margin: 25px 12px 25px 12px;
        background-color: #fff;
        display: inline-block; 
        border-radius: 10px; 
    }
    .img{
        padding-bottom: 10px;
        height: 200px;
        width: 100%;
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;

    }
    .text{
        padding-top: 68%;
    }
    .perfume{
        margin: 0;
        padding-top: 20px;
    }
  }